.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 2rem;

    margin: 5vh 36vw;

    background-color: #eeeeee;

    width: 28vw;
    height: 90vh;
}

.avatar {
    width: 10vw;
    margin: 3vh auto 2vh auto;

    border-radius: 100%;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.name {
    font-size: 2rem;
    font-weight: 900;
    text-align: center;

    width: 28vw;
    
    padding: 2.2vh 1vw 3vh 1vw;
    margin: 0;
    border-bottom: 2px solid #3e8adc;
}

.bio {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

    width: 28vw;
    
    padding: 3vh 1vw 3vh 1vw;
    margin: 0;
    border-bottom: 2px solid #3e8adc;
}

.phone {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

    width: 28vw;
    
    padding: 3vh 1vw 3vh 1vw;
    margin: 0;
    border-bottom: 2px solid #3e8adc;
}

.email {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;

    width: 28vw;
    
    padding: 3vh 1vw 3vh 1vw;
    margin: 0;
    border-bottom: 2px solid #3e8adc;
}

.buttonSection {
    display: flex;
    flex-direction: column;

    padding: .2vh 3vw 6.5vh 3vw;
}

.button {
    width: 10vw;

    margin: 2vh;
    padding: 1.5vh 1vw;
    border-radius: 1rem;

    background-image: linear-gradient(to right, #104f8d, #3a8adc);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);

    text-decoration: none;
    text-align: center;
    color: #eeeeee;

    font-weight: 900;
    font-size: 1.3rem;

    transition: .3s;
}

.button:hover {
    padding: 1.8vh 1.2vw;
}