.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 2rem;

    margin: 5vh 36vw;

    background-color: #eeeeee;

    width: 28vw;
    height: 90vh;
}

.avatar {
    width: 10vw;
    margin: 3vh auto 2vh auto;

    border-radius: 100%;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .2vh 3vw 6.5vh 3vw;
}