.button{
    display: inline-block;
    margin-Right: 38vw;
    background-Color: #282828;
    color: #f5f5f5;
    font-size: 1.6vw;
    border-radius: 1vw;
    border: none;
    padding: 1vw;
    transition: .3s;
    font-weight: 700;
}

.button:hover{
    cursor: pointer;
    margin-left: .8vw;
    margin-right: 37.2vw;
}